
<div class="cool-down">
  <div class="cycle-intro">
    <h3 class="title">Cool Down     <span class="glyphicon glyphicon-star" aria-hidden="true"></span></h3>
  </div>


    <div class="exercise-wrapper row">
      <div class="col-sm-1"></div>
      <div class="exercise-category-wrapper col-sm-4">
        <h3 class="exercise-category">Cool Down</h3>
      </div>
      <div class="col-sm-1"></div>
      <div class="exercise-detail-wrapper col-sm-6">
        <h4 class="exercise-name">Full Body Cool Down</h4>
        <a href="//google.com" target="_blank">Details</a>
      </div>

    </div> <!-- close exercise-wrapper -->


</div>
