

        <!-- Fifteen Circuit -->
        <div class="circuit">

          <div class="cycle-wrapper row">

            <div class="cycle-intro">
              <h3 class="title">Second Circuit   <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></h3>
            </div>

            <div class="cycle row" data-bind="foreach: secondCircuit">

              <div class="exercise-wrapper row">
                <div class="col-sm-1"></div>
                <div class="exercise-category-wrapper col-sm-4">
                  <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                </div>
                <div class="col-sm-1"></div>
                <div class="exercise-detail-wrapper col-sm-6">
                  <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                  <a data-bind="attr: { href: $data.url }" target="_blank">Details</a>
                </div>

              </div> <!-- close exercise-wrapper -->

            </div> <!-- close cycle 1 -->

          </div> <!-- close cycle wrapper -->

      </div> <!-- close circuit -->
