
        <div class="overview">
          <h1 class="title">60 Minute Overview</h1>
          <div class="flex-container">
            <h4>Warm Up -- <span class="time">5 min<span></h4>
            <h4>Set Up First Cicuit -- <span class="time">1.5 min<span></h4>
            <h4>Circuit 1 -- <span class="time">14 min<span></h4>
            <h4>Set Up Second Cicuit <span class="time">1.5 min<span></h4>
            <h4>Circuit 2 -- <span class="time">14 min<span></h4>
            <h4>Set Up Third Cicuit <span class="time">1.5 min<span></h4>
            <h4>Circuit 3 -- <span class="time">14 min<span></h4>
            <h4>Cool Down -- <span class="time">4 min<span></h4>
          </div>
        </div>

        <div class="warmup">
          <h2 class="title">Warm Up</h1>
          <div class="exercise-wrapper" data-bind="foreach: todaysWarmUp">
            <h3 class="exercise" data-bind="text: $data.exercise"></h3>
            <h4 class="time">5 Minutes</h4>
          </div>
        </div>

        <div class="setUp">
          <div class="inner-Wrapper">
            <h2 class="title">Set Up Circuit 1</h3>
            <h4 class="time">1.5 min</h4>
          </div>
        </div>

        <!-- Cicuit 1 -->
        <div class="circuit">
          <div class="overview-wrapper">
            <h2 class="title">Circuit 1</h1>
            <h4 class="time">14 Minutes</h4>
          </div>

          <!-- Cycle 1 -->
          <div class="cycle-wrapper">
              <h3 class="title">Cycle 1 + 2 + 3 <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></h3>
              <h4 class="time">4 Minutes 10 Seconds</h4>

              <div class="cycle" data-bind="foreach: todaysFirstCircuit">
                <div class="exercise-wrapper col-sm-12">
                  <div class="exercise-category-wrapper col-sm-3">
                    <p class="exercise-category" data-bind="text: $data.category"></p>
                    <a data-bind="attr: { href: $data.url}" target="_blank">Details</a>
                  </div>
                    <p class="exercise-name col-sm-5" data-bind="text: $data.exercise"></p>
                    <p class="exercise-time col-sm-4">45 SEC ON + 20 OFF</p>
                </div>

              </div> <!-- close cycle 1 -->

          </div> <!-- close cycle wrapper -->


          <!-- water break -->
            <div class="water-wrapper">
                <h3 class="title">Water Break</h3>
                <h4 class="time">30 Seconds</h4>
            </div>

          <!-- cycle 2 -->
<!--
            <div class="cycle-wrapper">
              <div class="overview-wrapper">
                <h3 class="title">Cycle 2</h3>
                <h4 class="time">4 Minutes 10 Seconds</h4>
              </div>
              <div class="cycle" data-bind="foreach: todaysFirstCircuit">
                <div class="exercise-wrapper">
                  <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                  <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                  <p class="time">30 seconds on + 25 off</p>
                </div>

              </div>
            -->
            <!-- close cycle -->

            <!-- water break 2 -->
    <!--          <div class="cycle-wrapper">
                <div class="cycle">
                  <h3 class="title">Water Break</h3>
                  <h4 class="time">30 Seconds</h4>
                </div>
              </div>
-->
              <!-- cycle 3 -->

  <!--              <div class="cycle-wrapper">
                  <div class="overview-wrapper">
                    <h3 class="title">Cycle 3</h3>
                    <h4 class="time">4 Minutes</h4>
                  </div>
                  <div class="cycle" data-bind="foreach: todaysFirstCircuit">
                    <div class="exercise-wrapper">
                      <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                      <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                      <p class="time">30 seconds on + 25 off</p>
                    </div>
-->
  <!--                </div> --><!-- close cycle -->

        <!--    </div>--> <!-- close cycle wrapper -->

  <!--        </div> --> <!-- close cycle 3 -->

        </div> <!-- close Circuit 1 -->

        <!-- Set Up 2-->
        <div class="setUp">
          <div class="inner-Wrapper">
            <h2 class="title">Set Up Circuit 2</h3>
            <h4 class="time">1.5 min</h4>
          </div>
        </div>

        <!-- Circuit 2 -->
        <div class="circuit">
          <div class="overview-wrapper">
            <h2 class="title">Circuit 2</h1>
            <h4 class="time">14 Minutes</h4>
          </div>

          <!-- Cycle 1 -->
          <div class="cycle-wrapper">
              <h3 class="title">Cycle 1 + 2 + 3 <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></h3>
              <h4 class="time">4 Minutes 10 Seconds</h4>

              <div class="cycle" data-bind="foreach: todaysSecondCircuit">
                <div class="exercise-wrapper col-sm-12">
                  <div class="exercise-category-wrapper col-sm-3">
                    <p class="exercise-category" data-bind="text: $data.category"></p>
                    <a data-bind="attr: { href: $data.url}" target="_blank">Details</a>
                  </div>
                    <p class="exercise-name col-sm-5" data-bind="text: $data.exercise"></p>
                    <p class="exercise-time col-sm-4">45 SEC ON + 20 OFF</p>
                </div>

              </div> <!-- close cycle 1 -->

          </div> <!-- close cycle wrapper -->


          <!-- water break -->
            <div class="water-wrapper">
                <h3 class="title">Water Break</h3>
                <h4 class="time">30 Seconds</h4>
            </div>

          <!-- cycle 2 -->

<!--
            <div class="cycle-wrapper">
              <div class="overview-wrapper">
                <h3 class="title">Cycle 2</h3>
                <h4 class="time">4 Minutes 10 Seconds</h4>
              </div>
              <div class="cycle" data-bind="foreach: todaysSecondCircuit">
                <div class="exercise-wrapper">
                  <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                  <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                  <p class="time">30 seconds on + 25 off</p>
                </div>

              </div>
            --> <!-- close cycle -->

            <!-- water break 2 -->
<!--              <div class="cycle-wrapper">
                <div class="cycle">
                  <h3 class="title">Water Break</h3>
                  <h4 class="time">30 Seconds</h4>
                </div>
              </div>
-->
              <!-- cycle 3 -->
<!--
                <div class="cycle-wrapper">
                  <div class="overview-wrapper">
                    <h3 class="title">Cycle 3</h3>
                    <h4 class="time">4 Minutes 10 seconds</h4>
                  </div>
                  <div class="cycle" data-bind="foreach: todaysSecondCircuit">
                    <div class="exercise-wrapper">
                      <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                      <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                      <p class="time">30 seconds on + 25 off</p>
                    </div>

                  </div> --> <!-- close cycle -->

          <!--  </div> --> <!-- close cycle wrapper -->

<!--          </div>--> <!-- close cycle 3 -->

        </div> <!-- close Circuit 2 -->

        <!-- Set Up 3-->
        <div class="setUp">
          <div class="inner-Wrapper">
            <h2 class="title">Set Up Circuit 3</h3>
            <h4 class="time">1.5 min</h4>
          </div>
        </div>

        <!-- Circuit 3 -->
        <div class="circuit">
          <div class="overview-wrapper">
            <h2 class="title">Circuit 3</h1>
            <h4 class="time">14 Minutes</h4>
          </div>

          <!-- Cycle 1 -->
          <div class="cycle-wrapper">
              <h3 class="title">Cycle 1 + 2 + 3 <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></h3>
              <h4 class="time">4 Minutes 10 Seconds</h4>

              <div class="cycle" data-bind="foreach: todaysThirdCircuit">
                <div class="exercise-wrapper col-sm-12">
                  <div class="exercise-category-wrapper col-sm-3">
                    <p class="exercise-category" data-bind="text: $data.category"></p>
                    <a data-bind="attr: { href: $data.url}" target="_blank">Details</a>
                  </div>
                    <p class="exercise-name col-sm-5" data-bind="text: $data.exercise"></p>
                    <p class="exercise-time col-sm-4">45 SEC ON + 20 OFF</p>
                </div>

              </div> <!-- close cycle 1 -->

          </div> <!-- close cycle wrapper -->


          <!-- water break -->
            <div class="water-wrapper">
                <h3 class="title">Water Break</h3>
                <h4 class="time">30 Seconds</h4>
            </div>


          <!-- cycle 2 -->
<!--
            <div class="cycle-wrapper">
              <div class="overview-wrapper">
                <h3 class="title">Cycle 2</h3>
                <h4 class="time">4 Minutes 10 Seconds</h4>
              </div>
              <div class="cycle" data-bind="foreach: todaysThirdCircuit">
                <div class="exercise-wrapper">
                  <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                  <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                  <p class="time">30 seconds on + 25 off</p>
                </div>

              </div>--> <!-- close cycle -->

            <!-- water break 2 -->
    <!--          <div class="cycle-wrapper">
                <div class="cycle">
                  <h3 class="title">Water Break</h3>
                  <h4 class="time">30 Seconds</h4>
                </div>
              </div>

              <!-- cycle 3 -->

    <!--            <div class="cycle-wrapper">
                  <div class="overview-wrapper">
                    <h3 class="title">Cycle 3</h3>
                    <h4 class="time">4 Minutes 10 seconds</h4>
                  </div>
                  <div class="cycle" data-bind="foreach: todaysThirdCircuit">
                    <div class="exercise-wrapper">
                      <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                      <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                      <p class="time">30 seconds on + 25 off</p>
                    </div>

                  </div> <!-- close cycle -->

    <!--        </div> <!-- close cycle wrapper -->

  <!--        </div> <!-- close cycle 3 -->

        </div> <!-- close Circuit 3 -->

        <!-- cool down -->

          <div class="cool-down">
            <h2 class="title">Cool Down</h1>
            <div class="exercise-wrapper" data-bind="foreach: todaysCoolDown">
              <h3 class="exercise" data-bind="text: $data.exercise"></h3>
              <h4 class="time">6 Minutes</h4>
            </div>
          </div>
