<div class="warm-up">
  <div class="cycle-intro">
    <h3 class="title">Warm Up     <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></h3>
  </div>

    <div class="exercise-wrapper row">


      <div class="exercise-category-wrapper col-sm-4">
        <h3 class="exercise-category">Warm Up</h3>
      </div>

      <div class="exercise-detail-wrapper col-sm-6">
        <h4 class="exercise-name">Full Body Warm Up</h4>
        <a href="//google.com" target="_blank">Details</a>
      </div>

    </div> <!-- close exercise-wrapper -->


</div>
