<!-- water break -->
  <div class="cycle-intro">
    <h3 class="title">Water Break     <span class="glyphicon glyphicon-tint" aria-hidden="true"></span></h3>
    <p class="exercise-time">30 Seconds After Each Cycle</p>
  </div>
