
<style>

*{
  box-sizing: border-box;
  margin: auto;
  font-family: sans-serif;
  text-transform: capitalize;
}

.fifteenMin, .fourtyFiveMin, .sixtyMin {
  min-width: 220px;
  max-width: 666px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.controls{
  max-width: 660px;
  width: 60%;
  min-width: 240px;
}
.title, .overview, .warmup, .circuit, .cycle-wrapper{
  margin-bottom: 1em;
}
.exercise-wrapper, .overview-wrapper{
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
.holder{
  display: block;
  width: calc(100%-20px);
  padding: 0 10px;
  margin: 40px 0px;
}

.intensity-container{
  width: 80%;
  max-width: 260px;
  min-width: 180px;
  margin: 0 auto
}
#generate {
  text-align: center;
  max-width: 260px;
  margin: 30px auto;
  padding: 16px;
  border-radius: 5px;
  background-color: #11a2a7;
  color: white;
  display: block
}

#workout{
  text-transform: capitalize;
  margin: 56px auto;
  width: 80%;
  max-width: 360px;
  text-align: center;
}


#workout h4{
  margin: 18px 0
}

</style>


    <div id="workout"></div>

    <div class="controls">
        <div class="time-container">
          <p class="text-center">Select Time</p>
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-bind="click: function() {selectedWorkout('fifteen')}">15</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-bind="click: function() {selectedWorkout('fourtyFive')}">45</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-bind="click: function() {selectedWorkout('sixty')}">60</button>
              </div>
          </div>
        </div>

        <div class="intensity-container">
          <p class="text-center"><strong>Intensity: <span id="slide-value" data-bind="text: selectedIntensity"></span></strong></p>
          <div id="intensitySlider"></div>
        </div>
        <btn id="generate" class="center"><strong>GENERATE WORKOUT</strong></btn>
    </div>

    <div class="todaysWorkout" data-bind="if: (todaysWorkout() === 1)">

      <!-- 15 MIN WORKOUT TEMPLATE -->
      <div class="fifteenMin" data-bind="if: (selectedWorkout() === 'fifteen') ">

        <div class="overview">
          <h1 class="title">15 Minute Overview</h1>
          <div class="flex-container">
            <h4>Warm Up <span class="time">5 min<span></h4>
            <h4>Circuit <span class="time">8.5 min<span></h4>
            <h4>Cool Down <span class="time">1.5 min<span></h4>
          </div>
        </div>


        <div class="warmup">
          <h2 class="title">Warm Up</h1>
          <div class="exercise-wrapper">
            <h3 class="exercise">Exercise Name Here</h3>
            <h4 class="time">5 Minutes</h4>
          </div>
        </div>

        <!-- Tester -->
        <div class="circuit">
          <div class="overview-wrapper">
            <h2 class="title">Circuit 1</h1>
            <h4 class="time">8.5 Minutes</h4>
          </div>

          <div class="cycle-wrapper">
              <h3 class="title">Cycle 1</h3>
              <h4 class="time">4 Minutes</h4>

            <div class="cycle" data-bind="foreach: todaysFifteenWorkout">
              <div class="exercise-wrapper">
                <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                <p class="time">45 seconds on + 20 off</p>
              </div>
            </div> <!-- close cycle 1 -->

          </div> <!-- close cycle wrapper -->


        <!-- water break -->
          <div class="cycle-wrapper">
            <div class="cycle">
              <h3 class="title">Water Break</h3>
              <h4 class="time">30 Seconds</h4>
            </div>
          </div>

          <!-- circuit 2 -->

            <div class="cycle-wrapper">
              <div class="overview-wrapper">
                <h3 class="title">Cycle 2 (Same as Cycle 1)</h3>
                <h4 class="time">4 Minutes</h4>
              </div>
              <div class="cycle" data-bind="foreach: todaysFifteenWorkout">
                <div class="exercise-wrapper">
                  <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                  <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                  <p class="time">45 seconds on + 20 off</p>
                </div>

              </div> <!-- close cycle -->

            </div> <!-- close cycle wrapper -->

          </div> <!-- close circuit 2 -->

          <div class="cool-down">
            <h2 class="title">Cool Down</h1>
            <div class="exercise-wrapper">
              <h3 class="exercise">Exercise Name Here</h3>
              <h4 class="time">1.5 Minutes</h4>
            </div>
          </div>

      </div> <!-- close 15 min -->

      <!-- 45 MIN WORKOUT TEMPLATE -->
      <div class="fourtyFiveMin" data-bind="if: (selectedWorkout() === 'fourtyFive') ">

        <div class="overview">
          <h1 class="title">45 Minute Overview</h1>
          <div class="flex-container">
            <h4>Warm Up -- <span class="time">7 min<span></h4>
            <h4>Set Up First Cicuit -- <span class="time">1.5 min<span></h4>
            <h4>Circuit 1 -- <span class="time">14 min<span></h4>
              <h4>Set Up Second Cicuit <span class="time">1.5 min<span></h4>
              <h4>Circuit 2 -- <span class="time">14 min<span></h4>
            <h4>Cool Down -- <span class="time">6 min<span></h4>
          </div>
        </div>


        <div class="warmup">
          <h2 class="title">Warm Up</h1>
          <div class="exercise-wrapper">
            <h3 class="exercise">Exercise Name Here</h3>
            <h4 class="time">7 Minutes</h4>
          </div>
        </div>

        <div class="setUp">
          <div class="inner-Wrapper">
            <h2 class="title">Set Up Circuit 1</h3>
            <h4 class="time">1.5 min</h4>
          </div>
        </div>

        <!-- Cicuit 1 -->
        <div class="circuit">
          <div class="overview-wrapper">
            <h2 class="title">Circuit 1</h1>
            <h4 class="time">14 Minutes</h4>
          </div>

          <!-- Cycle 1 -->
          <div class="cycle-wrapper">
              <h3 class="title">Cycle 1</h3>
              <h4 class="time">4 Minutes 10 Seconds</h4>

            <div class="cycle" data-bind="foreach: todaysFirstCircuit">
              <div class="exercise-wrapper">
                <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                <p class="time">30 seconds on + 25 off</p>
              </div>
            </div> <!-- close cycle 1 -->

          </div> <!-- close cycle wrapper -->


        <!-- water break -->
          <div class="cycle-wrapper">
            <div class="cycle">
              <h3 class="title">Water Break</h3>
              <h4 class="time">30 Seconds</h4>
            </div>
          </div>

          <!-- cycle 2 -->

            <div class="cycle-wrapper">
              <div class="overview-wrapper">
                <h3 class="title">Cycle 2</h3>
                <h4 class="time">4 Minutes 10 Seconds</h4>
              </div>
              <div class="cycle" data-bind="foreach: todaysFirstCircuit">
                <div class="exercise-wrapper">
                  <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                  <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                  <p class="time">30 seconds on + 25 off</p>
                </div>

              </div> <!-- close cycle -->

            <!-- water break 2 -->
              <div class="cycle-wrapper">
                <div class="cycle">
                  <h3 class="title">Water Break</h3>
                  <h4 class="time">30 Seconds</h4>
                </div>
              </div>

              <!-- cycle 3 -->

                <div class="cycle-wrapper">
                  <div class="overview-wrapper">
                    <h3 class="title">Cycle 3</h3>
                    <h4 class="time">4 Minutes</h4>
                  </div>
                  <div class="cycle" data-bind="foreach: todaysFirstCircuit">
                    <div class="exercise-wrapper">
                      <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                      <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                      <p class="time">30 seconds on + 25 off</p>
                    </div>

                  </div> <!-- close cycle -->

            </div> <!-- close cycle wrapper -->

          </div> <!-- close cycle 3 -->

        </div> <!-- close Circuit 1 -->

        <!-- Set Up 2-->
        <div class="setUp">
          <div class="inner-Wrapper">
            <h2 class="title">Set Up Circuit 2</h3>
            <h4 class="time">1.5 min</h4>
          </div>
        </div>

        <!-- Circuit 2 -->
        <div class="circuit">
          <div class="overview-wrapper">
            <h2 class="title">Circuit 2</h1>
            <h4 class="time">14 Minutes</h4>
          </div>

          <!-- Cycle 1 -->
          <div class="cycle-wrapper">
              <h3 class="title">Cycle 1</h3>
              <h4 class="time">4 Minutes 10 Seconds</h4>

            <div class="cycle" data-bind="foreach: todaysSecondCircuit">
              <div class="exercise-wrapper">
                <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                <p class="time">30 seconds on + 25 off</p>
              </div>
            </div> <!-- close cycle 1 -->

          </div> <!-- close cycle wrapper -->


        <!-- water break -->
          <div class="cycle-wrapper">
            <div class="cycle">
              <h3 class="title">Water Break</h3>
              <h4 class="time">30 Seconds</h4>
            </div>
          </div>

          <!-- cycle 2 -->

            <div class="cycle-wrapper">
              <div class="overview-wrapper">
                <h3 class="title">Cycle 2</h3>
                <h4 class="time">4 Minutes 10 Seconds</h4>
              </div>
              <div class="cycle" data-bind="foreach: todaysSecondCircuit">
                <div class="exercise-wrapper">
                  <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                  <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                  <p class="time">30 seconds on + 25 off</p>
                </div>

              </div> <!-- close cycle -->

            <!-- water break 2 -->
              <div class="cycle-wrapper">
                <div class="cycle">
                  <h3 class="title">Water Break</h3>
                  <h4 class="time">30 Seconds</h4>
                </div>
              </div>

              <!-- cycle 3 -->

                <div class="cycle-wrapper">
                  <div class="overview-wrapper">
                    <h3 class="title">Cycle 3</h3>
                    <h4 class="time">4 Minutes 10 seconds</h4>
                  </div>
                  <div class="cycle" data-bind="foreach: todaysSecondCircuit">
                    <div class="exercise-wrapper">
                      <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                      <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                      <p class="time">30 seconds on + 25 off</p>
                    </div>

                  </div> <!-- close cycle -->

            </div> <!-- close cycle wrapper -->

          </div> <!-- close cycle 3 -->

        </div> <!-- close Circuit 2 -->

          <div class="cool-down">
            <h2 class="title">Cool Down</h1>
            <div class="exercise-wrapper">
              <h3 class="exercise">Exercise Name Here</h3>
              <h4 class="time">6 Minutes</h4>
            </div>
          </div>

      </div> <!-- close 45 min -->

      <!-- 60 MIN WORKOUT TEMPLATE -->
      <div class="sixtyMin" data-bind="if: (selectedWorkout() === 'sixty') ">

        <div class="overview">
          <h1 class="title">60 Minute Overview</h1>
          <div class="flex-container">
            <h4>Warm Up -- <span class="time">5 min<span></h4>
            <h4>Set Up First Cicuit -- <span class="time">1.5 min<span></h4>
            <h4>Circuit 1 -- <span class="time">14 min<span></h4>
            <h4>Set Up Second Cicuit <span class="time">1.5 min<span></h4>
            <h4>Circuit 2 -- <span class="time">14 min<span></h4>
            <h4>Set Up Third Cicuit <span class="time">1.5 min<span></h4>
            <h4>Circuit 3 -- <span class="time">14 min<span></h4>
            <h4>Cool Down -- <span class="time">4 min<span></h4>
          </div>
        </div>


        <div class="warmup">
          <h2 class="title">Warm Up</h1>
          <div class="exercise-wrapper">
            <h3 class="exercise">Exercise Name Here</h3>
            <h4 class="time">5 Minutes</h4>
          </div>
        </div>

        <div class="setUp">
          <div class="inner-Wrapper">
            <h2 class="title">Set Up Circuit 1</h3>
            <h4 class="time">1.5 min</h4>
          </div>
        </div>

        <!-- Cicuit 1 -->
        <div class="circuit">
          <div class="overview-wrapper">
            <h2 class="title">Circuit 1</h1>
            <h4 class="time">14 Minutes</h4>
          </div>

          <!-- Cycle 1 -->
          <div class="cycle-wrapper">
              <h3 class="title">Cycle 1</h3>
              <h4 class="time">4 Minutes 10 Seconds</h4>

            <div class="cycle" data-bind="foreach: todaysFirstCircuit">
              <div class="exercise-wrapper">
                <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                <p class="time">30 seconds on + 25 off</p>
              </div>
            </div> <!-- close cycle 1 -->

          </div> <!-- close cycle wrapper -->


        <!-- water break -->
          <div class="cycle-wrapper">
            <div class="cycle">
              <h3 class="title">Water Break</h3>
              <h4 class="time">30 Seconds</h4>
            </div>
          </div>

          <!-- cycle 2 -->

            <div class="cycle-wrapper">
              <div class="overview-wrapper">
                <h3 class="title">Cycle 2</h3>
                <h4 class="time">4 Minutes 10 Seconds</h4>
              </div>
              <div class="cycle" data-bind="foreach: todaysFirstCircuit">
                <div class="exercise-wrapper">
                  <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                  <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                  <p class="time">30 seconds on + 25 off</p>
                </div>

              </div> <!-- close cycle -->

            <!-- water break 2 -->
              <div class="cycle-wrapper">
                <div class="cycle">
                  <h3 class="title">Water Break</h3>
                  <h4 class="time">30 Seconds</h4>
                </div>
              </div>

              <!-- cycle 3 -->

                <div class="cycle-wrapper">
                  <div class="overview-wrapper">
                    <h3 class="title">Cycle 3</h3>
                    <h4 class="time">4 Minutes</h4>
                  </div>
                  <div class="cycle" data-bind="foreach: todaysFirstCircuit">
                    <div class="exercise-wrapper">
                      <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                      <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                      <p class="time">30 seconds on + 25 off</p>
                    </div>

                  </div> <!-- close cycle -->

            </div> <!-- close cycle wrapper -->

          </div> <!-- close cycle 3 -->

        </div> <!-- close Circuit 1 -->

        <!-- Set Up 2-->
        <div class="setUp">
          <div class="inner-Wrapper">
            <h2 class="title">Set Up Circuit 2</h3>
            <h4 class="time">1.5 min</h4>
          </div>
        </div>

        <!-- Circuit 2 -->
        <div class="circuit">
          <div class="overview-wrapper">
            <h2 class="title">Circuit 2</h1>
            <h4 class="time">14 Minutes</h4>
          </div>

          <!-- Cycle 1 -->
          <div class="cycle-wrapper">
              <h3 class="title">Cycle 1</h3>
              <h4 class="time">4 Minutes 10 Seconds</h4>

            <div class="cycle" data-bind="foreach: todaysSecondCircuit">
              <div class="exercise-wrapper">
                <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                <p class="time">30 seconds on + 25 off</p>
              </div>
            </div> <!-- close cycle 1 -->

          </div> <!-- close cycle wrapper -->


        <!-- water break -->
          <div class="cycle-wrapper">
            <div class="cycle">
              <h3 class="title">Water Break</h3>
              <h4 class="time">30 Seconds</h4>
            </div>
          </div>

          <!-- cycle 2 -->

            <div class="cycle-wrapper">
              <div class="overview-wrapper">
                <h3 class="title">Cycle 2</h3>
                <h4 class="time">4 Minutes 10 Seconds</h4>
              </div>
              <div class="cycle" data-bind="foreach: todaysSecondCircuit">
                <div class="exercise-wrapper">
                  <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                  <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                  <p class="time">30 seconds on + 25 off</p>
                </div>

              </div> <!-- close cycle -->

            <!-- water break 2 -->
              <div class="cycle-wrapper">
                <div class="cycle">
                  <h3 class="title">Water Break</h3>
                  <h4 class="time">30 Seconds</h4>
                </div>
              </div>

              <!-- cycle 3 -->

                <div class="cycle-wrapper">
                  <div class="overview-wrapper">
                    <h3 class="title">Cycle 3</h3>
                    <h4 class="time">4 Minutes 10 seconds</h4>
                  </div>
                  <div class="cycle" data-bind="foreach: todaysSecondCircuit">
                    <div class="exercise-wrapper">
                      <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                      <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                      <p class="time">30 seconds on + 25 off</p>
                    </div>

                  </div> <!-- close cycle -->

            </div> <!-- close cycle wrapper -->

          </div> <!-- close cycle 3 -->

        </div> <!-- close Circuit 2 -->

        <!-- Set Up 3-->
        <div class="setUp">
          <div class="inner-Wrapper">
            <h2 class="title">Set Up Circuit 3</h3>
            <h4 class="time">1.5 min</h4>
          </div>
        </div>

        <!-- Circuit 3 -->
        <div class="circuit">
          <div class="overview-wrapper">
            <h2 class="title">Circuit 3</h1>
            <h4 class="time">14 Minutes</h4>
          </div>

          <!-- Cycle 1 -->
          <div class="cycle-wrapper">
              <h3 class="title">Cycle 1</h3>
              <h4 class="time">4 Minutes 10 Seconds</h4>

            <div class="cycle" data-bind="foreach: todaysThirdCircuit">
              <div class="exercise-wrapper">
                <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                <p class="time">30 seconds on + 25 off</p>
              </div>
            </div> <!-- close cycle 1 -->

          </div> <!-- close cycle wrapper -->


        <!-- water break -->
          <div class="cycle-wrapper">
            <div class="cycle">
              <h3 class="title">Water Break</h3>
              <h4 class="time">30 Seconds</h4>
            </div>
          </div>

          <!-- cycle 2 -->

            <div class="cycle-wrapper">
              <div class="overview-wrapper">
                <h3 class="title">Cycle 2</h3>
                <h4 class="time">4 Minutes 10 Seconds</h4>
              </div>
              <div class="cycle" data-bind="foreach: todaysThirdCircuit">
                <div class="exercise-wrapper">
                  <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                  <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                  <p class="time">30 seconds on + 25 off</p>
                </div>

              </div> <!-- close cycle -->

            <!-- water break 2 -->
              <div class="cycle-wrapper">
                <div class="cycle">
                  <h3 class="title">Water Break</h3>
                  <h4 class="time">30 Seconds</h4>
                </div>
              </div>

              <!-- cycle 3 -->

                <div class="cycle-wrapper">
                  <div class="overview-wrapper">
                    <h3 class="title">Cycle 3</h3>
                    <h4 class="time">4 Minutes 10 seconds</h4>
                  </div>
                  <div class="cycle" data-bind="foreach: todaysThirdCircuit">
                    <div class="exercise-wrapper">
                      <h3 class="exercise-category" data-bind="text: $data.category"></h3>
                      <h4 class="exercise-name" data-bind="text: $data.exercise"></h4>
                      <p class="time">30 seconds on + 25 off</p>
                    </div>

                  </div> <!-- close cycle -->

            </div> <!-- close cycle wrapper -->

          </div> <!-- close cycle 3 -->

        </div> <!-- close Circuit 3 -->



          <div class="cool-down">
            <h2 class="title">Cool Down</h1>
            <div class="exercise-wrapper">
              <h3 class="exercise">Exercise Name Here</h3>
              <h4 class="time">6 Minutes</h4>
            </div>
          </div>

      </div> <!-- close 45 min -->

    </div> <!-- close todaysWorkout -->

  </div>
