
    <div class="controls">
        <div class="time-container">
          <p class="text-center">Select Time</p>
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-bind="click: function() {selectedWorkout('fifteen')}">15</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-bind="click: function() {selectedWorkout('fourtyFive')}">45</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-bind="click: function() {selectedWorkout('sixty')}">60</button>
              </div>
          </div>
        </div>

        <div class="intensity-container">
          <p class="text-center"><strong>Intensity: <span id="slide-value" data-bind="text: selectedIntensity"></span></strong></p>
          <div id="intensitySlider"></div>
        </div>
        <btn id="generate" class="center"><strong>GENERATE WORKOUT</strong></btn>
    </div>

    <div class="todaysWorkout" data-bind="if: (todaysWorkout() === 1)">

      <!-- 15 MIN WORKOUT TEMPLATE -->
      <div class="fifteenMin" data-bind="if: (selectedWorkout() === 'fifteen') ">
        <%= render 'workout_gen/fifteen' %>
      </div> <!-- close 15 min -->

      <!-- 45 MIN WORKOUT TEMPLATE -->
      <div class="fourtyFiveMin" data-bind="if: (selectedWorkout() === 'fourtyFive') ">
        <%= render 'workout_gen/fourtyFive' %>
      </div> <!-- close 45 min -->

      <!-- 60 MIN WORKOUT TEMPLATE -->
      <div class="sixtyMin" data-bind="if: (selectedWorkout() === 'sixty') ">
        <%= render 'workout_gen/sixty' %>
      </div> <!-- close 60 min -->

    </div> <!-- close todaysWorkout -->
